In [2]:
import pandas as pd

In [3]:
zudio = pd.read_csv('Zudio_sales_data.csv', sep=',')
zudio

,Store,Country,State,City,Category,Clothing Type,Store Number,Postal Code,Store Type,Store Open Date,...,Security Features,Order ID,Order Date,Month,Customer ID,Customer Name,Product ID,Price,Quantity,Sales Profit
0,Zudio,India,Karnataka,Jalna,Women,Dresses,30,411084,Owned,2022-06-04,...,Alarm,88240,2024-11-06,November,233084,Michele Ochoa,354,1958,5,3916.0
1,Zudio,India,Gujarat,Patna,Kids,Skirts,48,404562,Owned,2020-12-19,...,Alarm,78145,2024-06-17,June,926472,Daniel Jimenez,741,2078,1,831.2
2,Zudio,India,Uttar Pradesh,Kolkata,Men,Hoodies,97,437773,Rented,2023-09-04,...,CCTV,33363,2024-08-17,August,853255,Steven Davis,607,1445,2,1156.0
3,Zudio,India,West Bengal,Kolkata,Women,Dresses,93,431725,Owned,2024-04-11,...,CCTV,46682,2024-03-27,March,106146,Derek Orozco,991,2469,6,5925.6
4,Zudio,India,West Bengal,Guwahati,Men,Dresses,51,415370,Owned,2022-05-29,...,"CCTV, Alarm",58242,2024-04-08,April,264070,Victor Arnold,479,1105,6,2652.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7894,Zudio,India,Uttar Pradesh,Chandigarh,Kids,Jeans,32,431437,Owned,2024-04-24,...,"CCTV, Alarm",39056,2024-09-27,September,591993,Tracey Andrews,262,2838,1,1135.2
7895,Zudio,India,Uttar Pradesh,Aurangabad,Kids,Jackets,52,424643,Owned,2024-02-03,...,Alarm,85486,2024-03-16,March,822244,Linda Wallace,537,1814,2,1451.2
7896,Zudio,India,Tamil Nadu,Pune,Kids,T-shirts,81,412057,Owned,2021-04-11,...,"CCTV, Alarm",78200,2024-12-02,December,268376,Brandon Baker,457,1961,1,784.4
7897,Zudio,India,Delhi,Madurai,Men,Shoes,58,405203,Rented,2022-06-17,...,CCTV,19883,2024-07-29,July,766283,John Lewis,608,1017,8,3254.4
7898,Zudio,India,Gujarat,Bengaluru,Women,Shirts,20,429823,Owned,2023-02-08,...,"CCTV, Alarm",91451,2024-04-08,April,541226,Nicholas Salazar,583,2773,5,5546.0

In [4]:
zudio.columns

Index(['Store', 'Country', 'State', 'City', 'Category', 'Clothing Type',
       'Store Number', 'Postal Code', 'Store Type', 'Store Open Date',
       'Selling Area Size (sq ft)', 'Store Manager', 'Manager ID',
       'Store Address', 'Contact Information', 'Operating Hours',
       'Staff Count', 'Parking Availability', 'Security Features', 'Order ID',
       'Order Date', 'Month', 'Customer ID', 'Customer Name', 'Product ID',
       'Price', 'Quantity', 'Sales Profit'],
      dtype='object')

In [5]:
zudio = zudio.rename(columns={'Store':'store', 'Country':'country', 'State':'state','City':'city',
                           'Category':'category', 'Clothing Type':'cloth_type', 'Store Number': 'store_no',
                           'Postal Code':'postal' ,'Store Type' :'store_type', 'Store Open Date':'store_open',
                           'Selling Area Size (sq ft)' :'selling_area', 'Store Manager':'manager', 'Manager ID' : 'manager_id',
                           'Store Address' : 'store_add', 'Contact Information' :'contact', 'Operating Hours' : 'op_hours',
                           'Staff Count':'staff', 'Parking Availability' : 'parking', 'Security Features' : 'security',
                           'Order ID' : 'order_id', 'Order Date' : 'order_date', 'Month' : 'month', 'Customer ID' : 'cust_id',
                           'Customer Name' : 'cust_name', 'Product ID' : 'prod_id', 'Price' : 'price', 'Quantity' : 'quantity',
                           'Sales Profit':'profit'})

In [6]:
zudio['profit'].dtype

dtype('float64')

In [7]:
zudio['store_open'] = pd.to_datetime(zudio['store_open'])
zudio['store_open'] = zudio['store_open'].dt.date

In [8]:
zudio['order_date'] = pd.to_datetime(zudio['order_date'])
zudio['order_date'] = zudio['order_date'].dt.date

In [9]:
zudio[['opening_time', 'closing_time']] = zudio['op_hours'].str.split(' - ', expand=True)

In [10]:
zudio['opening_time'] = pd.to_datetime(zudio['opening_time'], format='%I %p')
zudio['closing_time'] = pd.to_datetime(zudio['closing_time'], format='%I %p')

In [11]:
zudio['operating_hours'] = (zudio['closing_time'] - zudio['opening_time']).dt.total_seconds() / 3600

In [12]:
zudio['opening_time'] = zudio['opening_time'].dt.time

In [13]:
zudio['closing_time'] = zudio['closing_time'].dt.time

In [14]:
zudio = zudio.drop(columns=['store', 'country', 'op_hours'])

In [15]:
zudio.columns

Index(['state', 'city', 'category', 'cloth_type', 'store_no', 'postal',
       'store_type', 'store_open', 'selling_area', 'manager', 'manager_id',
       'store_add', 'contact', 'staff', 'parking', 'security', 'order_id',
       'order_date', 'month', 'cust_id', 'cust_name', 'prod_id', 'price',
       'quantity', 'profit', 'opening_time', 'closing_time',
       'operating_hours'],
      dtype='object')

In [16]:
zudio.to_csv('zudio.csv')